<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/projectimg/kisspng-social-media-marketing-computer-icons-5cd529c5a97be2.2664106015574737336942-removebg-preview.png" type="image/x-icon">
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/resetpassword.css">
    <link rel="stylesheet" href="/stylesheets/post.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
 
    <div class="navbar">
      <div class="logop">
        <img height="55vmin" src="/projectimg/kisspng-social-media-marketing-computer-icons-5cd529c5a97be2.2664106015574737336942-removebg-preview.png" alt="">
        <h1 class="uper">Social Media</h1>
      </div>
      <div class="dhome">
        <!-- <div><a class="dhover"  href="/header">Home</a></div> -->
        <div class="icon"><img height="35px" src="/projectimg/icons8-home-48.png" alt=""><a class="dhover" id="underline" href="/timeline">Home</a></div>
        <!-- <div><a id="mprop"  class="dhover" href="">Profile</a></div> -->
        <div class="icon"><img width="35px" height="35px" style="border-radius: 50%;" src="/uploads/<%=user.avatar%>" alt=""><a class="dhover" id="underline" href="/profile">Profile</a></div>
        <div class="icon"><img height="35px" src="/projectimg/icons8-signin-24.png" alt=""><a class="dhover" id="underline" href="/signup">SignUp</a></div>
        <div class="icon"><img height="35px" src="/projectimg/icons8-add-new-30.png" alt=""><a class="dhover" id="underline" href="/post">Create Post</a></div>
        <div class="icon"><img height="35px" src="/projectimg/icons8-lock-24.png" alt=""><a class="dhover" id="underline" href="/resetpassword">Reset Password</a></div>
        <div class="icon"><img height="35px" src="/projectimg/icons8-denied-26.png" alt=""><a class="dhover" id="underline" href="/delete-account">Delete Account</a></div>
        <div class="icon"><img height="35px" src="/projectimg/icons8-shutdown-24.png" alt=""><a class="dhover" id="underline" href="/logout">LogOut</a></div>
      </div>
  
    </div>
 <div class="hiddenbox"></div>
  <div class="bachahuabox">



    
    
