<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="shortcut icon" href="/projectimg/kisspng-social-media-marketing-computer-icons-5cd529c5a97be2.2664106015574737336942-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/resetpassword.css">
</head>
<body>
   <div class="forsetbox">
    <h1>Change Password</h1>
    <form action="/change-password/<%= id%>" method="post">
        <label>Enter New Password</label>
        <input class="newpassword" type="password" placeholder="" name="password" />
        <label for=""></label>
        <button class="changepasswordbtn">Change Password</button>
        <button hidden class="changepasswordbtnhidden">Change Password</button>
        <p>Back to <a href="/">SignIn</a></p>
    </form>
   </div>

<script>
const newpassword = document.querySelector(".newpassword");
const changepasswordbtn = document.querySelector(".changepasswordbtn");
const changepasswordbtnhidden = document.querySelector(".changepasswordbtnhidden");
changepasswordbtn.addEventListener("click",function(e){
    e.preventDefault();
    if(newpassword.value.length==0)
    alert("Please enter a valid password");
    else
    changepasswordbtnhidden.click();
    

        
    
   
})
</script>


</body>
</html>