<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="shortcut icon" href="/projectimg/kisspng-social-media-marketing-computer-icons-5cd529c5a97be2.2664106015574737336942-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/resetpassword.css">
</head>
<body>
    <div  class="forset-box" >
        <h1>Forgot Password</h1>
        <form class="reset" action="/forgot-password" method="post">
            <label class="e">Enter your email address</label>
            <input type="email" placeholder="example@john.doe" name="email" />
            <label></label>
            <input class="resetbtn" type="submit" value="Send Mail" />
            <label></label>
            <p>Back to <a class="fs" href="/">SignIn</a></p>
        </form>
    </div>


</body>
</html>