<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong Password</title>
    <link rel="shortcut icon" href="/projectimg/kisspng-social-media-marketing-computer-icons-5cd529c5a97be2.2664106015574737336942-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/resetrender.css">
</head>
<body>
    <div class="resetrender">
        <h1>Please provide valid password</h1>
        <a href="/resetpassword">Go Back</a>
    </div>
</body>
</html>
