<%- include('partials/header')%>
    <div class="reset-box">
        <h1>Reset Password</h1>
        <form class="reset" action="resetpassword" method="post">
          <label>Enter Password</label>
          <input class="oldpassword" name="oldpassword" type="text" placeholder="" />
          <label>Enter New Password</label>
          <input name="newpassword" type="text" placeholder="" />
          <label></label>
          <input class="resetbtn" type="submit" value="Reset Password" />
        </form>
   </div>




<%- include('partials/footer')%>