<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="shortcut icon" href="/projectimg/kisspng-social-media-marketing-computer-icons-5cd529c5a97be2.2664106015574737336942-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    


    <div class="signup-box">
        <h1>Sign Up</h1>
        <h4>It's free and only takes a minute</h4>
        <form action="/signup" method="post" >
          <label>Username</label>
          <input name="username" type="text" placeholder="" />
          <label>Name</label>
          <input name="name" type="text" placeholder="" />
          <label>Email</label>
          <input name="email" type="email" placeholder="" />
          <label>Password</label>
          <input class="newpassword" name="password" type="password" placeholder="" />
          <!-- <label>Confirm Password</label>
          <input type="password" placeholder="" /> -->
          <label></label>
          <label></label>
          <input class="signbtn" type="submit" value="Submit" />
          <input hidden class="signbtnhidden" type="submit" value="Submit" />
        </form>
        
        <p>
          By clicking the Sign Up button,you agree to our <br />
          <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
        </p>
      </div>
      <p class="para-2">
        Already have an account? <a href="/signin">Login here</a>
      </p>

  
      <script>
        const newpassword = document.querySelector(".newpassword");
        const signbtn = document.querySelector(".signbtn");
        const signbtnhidden = document.querySelector(".signbtnhidden");
        signbtn.addEventListener("click",function(e){
            e.preventDefault();
            if(newpassword.value.length==0)
            alert("Please enter a valid password");
            else
            signbtnhidden.click(); 
           
        })
        </script>


</body>
</html>





