*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(https://thumbs.dreamstime.com/b/security-lock-futuristic-cyber-style-password-protection-computer-system-data-files-glowing-blue-motherboard-circuit-194255019.jpg); */
}
/* .box{
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    background-color: grey;
    justify-content: space-between;
}*/
input{
    height: 5vmin;
} 
.reset-box {
    width: 360px;
    height: 360px;
    margin: auto;
    border-radius: 3px;
    /* background: linear-gradient(to right bottom,#3e5378,#477ad9); */
    /* color: white; */
    color: black;
    box-shadow: 0 0 1vmin black;
    /* display: flex;
    flex-direction: column; */
}

.forset-box{
    width: 360px;
    height: 320px;
    margin: auto;
    border-radius: 3px;
    /* background: linear-gradient(to right bottom,#3e5378,#477ad9); */

    color: black;
    box-shadow: 0 0 1vmin black;
}
.forsetbox{
  width: 360px;
  height: 320px;
  margin: auto;
  border-radius: 3px;
  /* background: linear-gradient(to right bottom,#3e5378,#477ad9); */
  color: black;
  box-shadow: 0 0 1vmin black;
}
.forsetbox>form{
  margin-top: 4vmin;
}
.forsetbox>form>button{
  margin-top: 2vmin;
  width: 40vmin;
  height: 6vmin;
  border-radius: 1vmin;
  /* background-color: rgb(70, 170, 216); */
background-color: black;
  color: white;
  border: none;
  font-size: 2.5vmin;
  font-weight: 500;
}
.forsetbox>form>p{
  margin-top: 3vmin;
  font-size: 2.5vmin;
  text-align: center;
}
.forsetbox>form>p>a{
  text-decoration: none;
  color: black;
}
.reset{
    margin-top: 5vmin;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}  
.resetbtn {
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border: none;
    /* background-color: rgb(70, 170, 216); */
    background-color: rgb(43, 34, 34);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    /* background-color: red; */
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  .e{
    font-size: 3vmin;
  }
  .fs{
    color: black;
    text-decoration: none;
  }
  